In [12]:
firstname=' far'
lastname='shirin'
fullname = lastname + firstname
print(fullname)

shirin far

In [30]:
a=set([1,2,3,4])
b=set([9,8,1,3])
a.intersection(b)

{1, 3}

In [4]:
a = 'hi'
for i in a:
    print(i)

h
i

In [60]:
class student:
    def __init__(self,id,name,clas):
        self.id=id
        self.name=name    
        self.clas=clas
a=student(1,'farhana',5)
print("id is {}  \nname is {}  \nclas is {} ".format(a.id,a.name,a.clas))

id is 1
name is farhana
clas is 5

In [61]:
a=int(input("enter 1st no:"))
b=int(input("enter 2nd no:"))
c=int(input("enter 3rd no:"))
d=a+b+c
if d == (a,b,c):
    
    d * 3
    print(d*3)
else:
     print(d)

enter 1st no:3
enter 2nd no:2
enter 3rd no:1
6

### def multiply(a):
    total=1
    for i in a:
        total=total*i
    return total
print(multiply((1,2,2,3,4)))

In [14]:
class student:
    def __init__(self,name,id):
        self.name=name
        self.id=id 
    def classs(self):
        pass
s=student("farhana",1)
print("student details: \nname:{} \nid:{} ".format(s.name,s.id))

student details:
name:farhana
id:1

In [17]:
num=(input("enter numbers:"))
x=list[",".join(num)]
y=tuple([",".join(num)])
print("list:",x)
print("tuple",y)

enter numbers:123
list: list['1,2,3']
tuple ('1,2,3',)

In [22]:
colorlist1=set(["blue","white","red","black"])
colorlist2=set(["navyblue","yellow","red","brown"])
colorlist1-colorlist2

{'black', 'blue', 'white'}

In [42]:
# inside
def a():
    a=10
    print(a)
a()

10

In [33]:
def multiply(a):
    total=1
    for i in a:
        total=total*i
    return total

print(multiply((1,2,3,4)))

24

In [93]:
a='farhan'
b='shirin'
a[::-1]==b[::-1]
b[::-2]==a[::-2]
fullname=a + ' ' + b
print(fullname)

farhan shirin