<a href="https://colab.research.google.com/github/farhanasajeer/github/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [4]:
# create series
# np.nan is null value
import pandas as pd
import numpy as np
s = pd.Series([1,2,3,4,5,6,np.nan,8,9,10])
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [5]:
# to craete a dataframe by passing a numpy array with date time index and label columns

d=pd.date_range('20210928',periods=10)
d

DatetimeIndex(['2021-09-28', '2021-09-29', '2021-09-30', '2021-10-01',
               '2021-10-02', '2021-10-03', '2021-10-04', '2021-10-05',
               '2021-10-06', '2021-10-07'],
              dtype='datetime64[ns]', freq='D')

In [6]:
# to create dateframe
# the np.random.randn() function creates an array of specified shape and fills it with random values as per stndrd normal distribution
# colmn name with label A,B,C,D
# index of the dateframe is the d and it contain datetime index

df=pd.DataFrame(np.random.randn(10,4), index=d, columns=['A','B','C','D'])
df

                   A         B         C         D
2021-09-28  0.689022 -0.591451  0.475185  0.186125
2021-09-29  0.778962 -1.167310 -0.605753  0.684676
2021-09-30 -0.149835  0.356852 -0.031657 -0.044839
2021-10-01  0.608386 -1.376892 -1.040756  1.301262
2021-10-02 -0.993212  1.212243  0.584941  1.220398
2021-10-03  0.093446 -1.023273  1.380184 -1.360732
2021-10-04  1.278389  0.544019 -1.979629 -1.131492
2021-10-05 -1.169640  2.031928 -1.134429  0.060633
2021-10-06 -0.101122 -2.119531  0.936464 -0.498012
2021-10-07  0.858434 -0.205387  0.436198 -0.471127

In [7]:
# create dataframe by passing a dictionary of objects and it converted into a series
df1=pd.DataFrame({'A':[1,2,3,4],
                  'B':pd.Timestamp('20210928'),
                  'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                  'D':np.array([5]*4,dtype='int32'),
                  'E':pd.Categorical(['true','false','True','False']),
                  'F':'pandas'})
df1

   A          B    C  D      E       F
0  1 2021-09-28  1.0  5   true  pandas
1  2 2021-09-28  1.0  5  false  pandas
2  3 2021-09-28  1.0  5   True  pandas
3  4 2021-09-28  1.0  5  False  pandas

In [8]:
# check data type

df1.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [9]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [10]:
# view the data
# it will give 1st 5 values

df.head()

                   A         B         C         D
2021-09-28  0.689022 -0.591451  0.475185  0.186125
2021-09-29  0.778962 -1.167310 -0.605753  0.684676
2021-09-30 -0.149835  0.356852 -0.031657 -0.044839
2021-10-01  0.608386 -1.376892 -1.040756  1.301262
2021-10-02 -0.993212  1.212243  0.584941  1.220398

In [11]:
df.tail()
# get last 5 values

                   A         B         C         D
2021-10-03  0.093446 -1.023273  1.380184 -1.360732
2021-10-04  1.278389  0.544019 -1.979629 -1.131492
2021-10-05 -1.169640  2.031928 -1.134429  0.060633
2021-10-06 -0.101122 -2.119531  0.936464 -0.498012
2021-10-07  0.858434 -0.205387  0.436198 -0.471127

In [12]:
# get index of dataframe
df.index

DatetimeIndex(['2021-09-28', '2021-09-29', '2021-09-30', '2021-10-01',
               '2021-10-02', '2021-10-03', '2021-10-04', '2021-10-05',
               '2021-10-06', '2021-10-07'],
              dtype='datetime64[ns]', freq='D')

In [13]:
# to get colum of dataframe

df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
# to give numpy reprasentation of the data

df.to_numpy()

array([[ 0.68902219, -0.59145138,  0.47518505,  0.18612495],
       [ 0.77896223, -1.16731044, -0.60575313,  0.68467567],
       [-0.14983537,  0.35685193, -0.03165703, -0.04483931],
       [ 0.6083858 , -1.37689184, -1.04075638,  1.30126235],
       [-0.99321191,  1.21224345,  0.58494146,  1.22039837],
       [ 0.09344645, -1.02327325,  1.38018387, -1.36073212],
       [ 1.27838942,  0.54401895, -1.97962943, -1.13149218],
       [-1.16964037,  2.0319284 , -1.13442946,  0.06063302],
       [-0.1011217 , -2.11953078,  0.93646357, -0.49801161],
       [ 0.85843368, -0.20538745,  0.43619793, -0.47112748]])

In [15]:
# to describe the data

df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.189283  -0.233880  -0.097925  -0.005311
std     0.806950   1.276476   1.059412   0.900205
min    -1.169640  -2.119531  -1.979629  -1.360732
25%    -0.137657  -1.131301  -0.932006  -0.491291
50%     0.350916  -0.398419   0.202270   0.007897
75%     0.756477   0.497227   0.557502   0.560038
max     1.278389   2.031928   1.380184   1.301262

In [16]:
# dataframe sorted by index

df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2021-09-28  0.186125  0.475185 -0.591451  0.689022
2021-09-29  0.684676 -0.605753 -1.167310  0.778962
2021-09-30 -0.044839 -0.031657  0.356852 -0.149835
2021-10-01  1.301262 -1.040756 -1.376892  0.608386
2021-10-02  1.220398  0.584941  1.212243 -0.993212
2021-10-03 -1.360732  1.380184 -1.023273  0.093446
2021-10-04 -1.131492 -1.979629  0.544019  1.278389
2021-10-05  0.060633 -1.134429  2.031928 -1.169640
2021-10-06 -0.498012  0.936464 -2.119531 -0.101122
2021-10-07 -0.471127  0.436198 -0.205387  0.858434

In [18]:
# sorting the dataframe by values
# it sort the dataframe depending on 'c'

df.sort_values(by='C')

                   A         B         C         D
2021-10-04  1.278389  0.544019 -1.979629 -1.131492
2021-10-05 -1.169640  2.031928 -1.134429  0.060633
2021-10-01  0.608386 -1.376892 -1.040756  1.301262
2021-09-29  0.778962 -1.167310 -0.605753  0.684676
2021-09-30 -0.149835  0.356852 -0.031657 -0.044839
2021-10-07  0.858434 -0.205387  0.436198 -0.471127
2021-09-28  0.689022 -0.591451  0.475185  0.186125
2021-10-02 -0.993212  1.212243  0.584941  1.220398
2021-10-06 -0.101122 -2.119531  0.936464 -0.498012
2021-10-03  0.093446 -1.023273  1.380184 -1.360732

In [19]:
# to access only single column

df['C']

2021-09-28    0.475185
2021-09-29   -0.605753
2021-09-30   -0.031657
2021-10-01   -1.040756
2021-10-02    0.584941
2021-10-03    1.380184
2021-10-04   -1.979629
2021-10-05   -1.134429
2021-10-06    0.936464
2021-10-07    0.436198
Freq: D, Name: C, dtype: float64

In [20]:
# to slice the rows
# it will give the result from 0th - 3rd row

df[0:3]

                   A         B         C         D
2021-09-28  0.689022 -0.591451  0.475185  0.186125
2021-09-29  0.778962 -1.167310 -0.605753  0.684676
2021-09-30 -0.149835  0.356852 -0.031657 -0.044839

In [21]:
# to select the data by using the labels
# inside the loc method, we can pass the values by labels

df.loc[d[0]]

A    0.689022
B   -0.591451
C    0.475185
D    0.186125
Name: 2021-09-28 00:00:00, dtype: float64

In [22]:
# to selecting data on multi axis by label

df.loc[:,['A','C']]

                   A         C
2021-09-28  0.689022  0.475185
2021-09-29  0.778962 -0.605753
2021-09-30 -0.149835 -0.031657
2021-10-01  0.608386 -1.040756
2021-10-02 -0.993212  0.584941
2021-10-03  0.093446  1.380184
2021-10-04  1.278389 -1.979629
2021-10-05 -1.169640 -1.134429
2021-10-06 -0.101122  0.936464
2021-10-07  0.858434  0.436198

In [24]:
# to get the data with some range


df.loc['20210928':'20211003',['D','C']]

                   D         C
2021-09-28  0.186125  0.475185
2021-09-29  0.684676 -0.605753
2021-09-30 -0.044839 -0.031657
2021-10-01  1.301262 -1.040756
2021-10-02  1.220398  0.584941
2021-10-03 -1.360732  1.380184

In [26]:
# to get single element from dataframe

df.loc['20210928',['D','C']]

D    0.186125
C    0.475185
Name: 2021-09-28 00:00:00, dtype: float64

In [28]:
# to get single element from dataframe

df.loc[d[0],['D','C']]

D    0.186125
C    0.475185
Name: 2021-09-28 00:00:00, dtype: float64

In [29]:
# to get exact value in 0th index at colmn c

df.at[d[0],'C']

0.4751850540708669

In [30]:
# slctng value from using the position inside daataframe
# it will select all the value from the 3rd position

df.iloc[3]

A    0.608386
B   -1.376892
C   -1.040756
D    1.301262
Name: 2021-10-01 00:00:00, dtype: float64

In [31]:
# to select values in 3rd and 4th position

df.iloc[3:5]

                   A         B         C         D
2021-10-01  0.608386 -1.376892 -1.040756  1.301262
2021-10-02 -0.993212  1.212243  0.584941  1.220398

In [32]:
# select the value which is in 3rd 4th row and it only include the column start with 0 and end with 2

df.iloc[3:5,0:2]

                   A         B
2021-10-01  0.608386 -1.376892
2021-10-02 -0.993212  1.212243

In [33]:
# boolean indexing 
# it will show the values in 'A' which is > 0

df[df['A']>0]

                   A         B         C         D
2021-09-28  0.689022 -0.591451  0.475185  0.186125
2021-09-29  0.778962 -1.167310 -0.605753  0.684676
2021-10-01  0.608386 -1.376892 -1.040756  1.301262
2021-10-03  0.093446 -1.023273  1.380184 -1.360732
2021-10-04  1.278389  0.544019 -1.979629 -1.131492
2021-10-07  0.858434 -0.205387  0.436198 -0.471127

In [34]:
df[df['A']>2]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [35]:
df[df['A']>3]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [36]:
# handling the missing values

df2=df.reindex(index=d[0:4], columns=list(df.columns) + ['E'])
df2.loc[d[0]:d[1], 'E']=1
df2

                   A         B         C         D    E
2021-09-28  0.689022 -0.591451  0.475185  0.186125  1.0
2021-09-29  0.778962 -1.167310 -0.605753  0.684676  1.0
2021-09-30 -0.149835  0.356852 -0.031657 -0.044839  NaN
2021-10-01  0.608386 -1.376892 -1.040756  1.301262  NaN

In [37]:
# check null values

df2.isnull()

                A      B      C      D      E
2021-09-28  False  False  False  False  False
2021-09-29  False  False  False  False  False
2021-09-30  False  False  False  False   True
2021-10-01  False  False  False  False   True

In [38]:
# to drop the column
# it will drop null values presented in dataframe

df2.dropna()

                   A         B         C         D    E
2021-09-28  0.689022 -0.591451  0.475185  0.186125  1.0
2021-09-29  0.778962 -1.167310 -0.605753  0.684676  1.0

In [41]:
# fill missing data
# it will fill miising values with 2

df2.fillna(value=2)

                   A         B         C         D    E
2021-09-28  0.689022 -0.591451  0.475185  0.186125  1.0
2021-09-29  0.778962 -1.167310 -0.605753  0.684676  1.0
2021-09-30 -0.149835  0.356852 -0.031657 -0.044839  2.0
2021-10-01  0.608386 -1.376892 -1.040756  1.301262  2.0

In [42]:
# descriptive statistics
# to find the mean

df.mean()

A    0.189283
B   -0.233880
C   -0.097925
D   -0.005311
dtype: float64

In [43]:
s=pd.Series([1,2,3,np.nan,4,5,6,7,8,9], index=d).shift(2)
s

2021-09-28    NaN
2021-09-29    NaN
2021-09-30    1.0
2021-10-01    2.0
2021-10-02    3.0
2021-10-03    NaN
2021-10-04    4.0
2021-10-05    5.0
2021-10-06    6.0
2021-10-07    7.0
Freq: D, dtype: float64

In [44]:
# it substract all elements of df by s

df.sub(s, axis='index')

                   A         B         C         D
2021-09-28       NaN       NaN       NaN       NaN
2021-09-29       NaN       NaN       NaN       NaN
2021-09-30 -1.149835 -0.643148 -1.031657 -1.044839
2021-10-01 -1.391614 -3.376892 -3.040756 -0.698738
2021-10-02 -3.993212 -1.787757 -2.415059 -1.779602
2021-10-03       NaN       NaN       NaN       NaN
2021-10-04 -2.721611 -3.455981 -5.979629 -5.131492
2021-10-05 -6.169640 -2.968072 -6.134429 -4.939367
2021-10-06 -6.101122 -8.119531 -5.063536 -6.498012
2021-10-07 -6.141566 -7.205387 -6.563802 -7.471127

In [45]:
df

                   A         B         C         D
2021-09-28  0.689022 -0.591451  0.475185  0.186125
2021-09-29  0.778962 -1.167310 -0.605753  0.684676
2021-09-30 -0.149835  0.356852 -0.031657 -0.044839
2021-10-01  0.608386 -1.376892 -1.040756  1.301262
2021-10-02 -0.993212  1.212243  0.584941  1.220398
2021-10-03  0.093446 -1.023273  1.380184 -1.360732
2021-10-04  1.278389  0.544019 -1.979629 -1.131492
2021-10-05 -1.169640  2.031928 -1.134429  0.060633
2021-10-06 -0.101122 -2.119531  0.936464 -0.498012
2021-10-07  0.858434 -0.205387  0.436198 -0.471127

In [46]:
# apply some functn
# cumsum is usd to find cumulative sum value over any axis

df.apply(np.cumsum)

                   A         B         C         D
2021-09-28  0.689022 -0.591451  0.475185  0.186125
2021-09-29  1.467984 -1.758762 -0.130568  0.870801
2021-09-30  1.318149 -1.401910 -0.162225  0.825961
2021-10-01  1.926535 -2.778802 -1.202981  2.127224
2021-10-02  0.933323 -1.566558 -0.618040  3.347622
2021-10-03  1.026769 -2.589832  0.762144  1.986890
2021-10-04  2.305159 -2.045813 -1.217486  0.855398
2021-10-05  1.135518 -0.013884 -2.351915  0.916031
2021-10-06  1.034397 -2.133415 -1.415451  0.418019
2021-10-07  1.892830 -2.338802 -0.979254 -0.053108

In [47]:
# lamda funtn will take any no of argumnts but can only have one exprsn 
# it give the substractn of x.max nd x.min


df.apply(lambda x: x.max() - x.min())

A    2.448030
B    4.151459
C    3.359813
D    2.661994
dtype: float64

In [48]:
# histograms--- it is a reprasentation of distribution of daata
# value_counts() functn returns a series tht contain counts of uniq value

s.value_counts()

7.0    1
6.0    1
5.0    1
4.0    1
3.0    1
2.0    1
1.0    1
dtype: int64

In [49]:
s=pd.Series(['pandas','python','jupytor','np.nan','java','colab'])
# string method inside pandas
s.str.upper()

0     PANDAS
1     PYTHON
2    JUPYTOR
3     NP.NAN
4       JAVA
5      COLAB
dtype: object

In [50]:
df=pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0  0.567903  0.861219  0.934022  0.125689
1 -1.024112  1.316694  0.056575 -0.343994
2  0.659849  0.270235  0.516857  0.029238
3 -0.501088  0.211753  0.546995 -0.028574
4 -1.072411 -1.415553 -1.670021  0.842018
5 -0.335858 -2.001286  0.893317  1.756006
6  0.074491 -0.175347  0.676677  0.705882
7 -1.067426 -0.435368 -1.423139 -0.380419
8  1.163725  0.234397 -1.355378  0.477799
9  0.254098 -2.466312 -0.809795 -0.236097

In [51]:
# break the dataframe
df2=[df[:3],df[3:7],df[7:]]
df2

[          0         1         2         3
 0  0.567903  0.861219  0.934022  0.125689
 1 -1.024112  1.316694  0.056575 -0.343994
 2  0.659849  0.270235  0.516857  0.029238,
           0         1         2         3
 3 -0.501088  0.211753  0.546995 -0.028574
 4 -1.072411 -1.415553 -1.670021  0.842018
 5 -0.335858 -2.001286  0.893317  1.756006
 6  0.074491 -0.175347  0.676677  0.705882,
           0         1         2         3
 7 -1.067426 -0.435368 -1.423139 -0.380419
 8  1.163725  0.234397 -1.355378  0.477799
 9  0.254098 -2.466312 -0.809795 -0.236097]

In [52]:
# concat the several pieces
pd.concat(df2)

          0         1         2         3
0  0.567903  0.861219  0.934022  0.125689
1 -1.024112  1.316694  0.056575 -0.343994
2  0.659849  0.270235  0.516857  0.029238
3 -0.501088  0.211753  0.546995 -0.028574
4 -1.072411 -1.415553 -1.670021  0.842018
5 -0.335858 -2.001286  0.893317  1.756006
6  0.074491 -0.175347  0.676677  0.705882
7 -1.067426 -0.435368 -1.423139 -0.380419
8  1.163725  0.234397 -1.355378  0.477799
9  0.254098 -2.466312 -0.809795 -0.236097

In [54]:
# left joining 
left=pd.DataFrame({'A':[1,2],'B':[3,4]})
left

   A  B
0  1  3
1  2  4

In [55]:
# right joining
right=pd.DataFrame({'A':[3,2],'B':[4,5]})
right

   A  B
0  3  4
1  2  5

In [56]:
pd.merge(left,right,on='A')

   A  B_x  B_y
0  2    4    5

In [57]:
df

          0         1         2         3
0  0.567903  0.861219  0.934022  0.125689
1 -1.024112  1.316694  0.056575 -0.343994
2  0.659849  0.270235  0.516857  0.029238
3 -0.501088  0.211753  0.546995 -0.028574
4 -1.072411 -1.415553 -1.670021  0.842018
5 -0.335858 -2.001286  0.893317  1.756006
6  0.074491 -0.175347  0.676677  0.705882
7 -1.067426 -0.435368 -1.423139 -0.380419
8  1.163725  0.234397 -1.355378  0.477799
9  0.254098 -2.466312 -0.809795 -0.236097

In [58]:
# grouping

df.groupby([2,3]).sum()

                            0         1
2         3
-1.670021  0.842018 -1.072411 -1.415553
-1.423139 -0.380419 -1.067426 -0.435368
-1.355378  0.477799  1.163725  0.234397
-0.809795 -0.236097  0.254098 -2.466312
 0.056575 -0.343994 -1.024112  1.316694
 0.516857  0.029238  0.659849  0.270235
 0.546995 -0.028574 -0.501088  0.211753
 0.676677  0.705882  0.074491 -0.175347
 0.893317  1.756006 -0.335858 -2.001286
 0.934022  0.125689  0.567903  0.861219

In [63]:
# reshape the dataframe work

my_tuple=list(zip(*[[1,2,3,4,5,17,18,19],[11,12,13,6,7,8,9,10]]))
index=pd.MultiIndex.from_tuples(my_tuple,names=['First','Second'])
df = pd.DataFrame(np.random.randn(8,2),index= index,columns=['A','B'])
df2=df[:2]
df2

                     A         B
First Second
1     11      0.832403 -1.041082
2     12     -0.933580 -0.758347

In [64]:
df2.stack()

First  Second
1      11      A    0.832403
               B   -1.041082
2      12      A   -0.933580
               B   -0.758347
dtype: float64

In [65]:
# stack has a multiindex as indexs
# inverse stack is unstack

df2.unstack()

               A                  B
Second        11       12        11        12
First
1       0.832403      NaN -1.041082       NaN
2            NaN -0.93358       NaN -0.758347

In [67]:
# pivote table
df=pd.DataFrame({'A':['a','b','c','d']*3,
                 'B':['A','B','C']*4,
                 'C':['P','P','P','Q','Q','Q']*2,
                 'D':np.random.randn(12),
                 'E':np.random.randn(12)})
df

    A  B  C         D         E
0   a  A  P  0.531530  0.551213
1   b  B  P -0.209900  0.358503
2   c  C  P -2.580040 -2.234353
3   d  A  Q -1.260372 -1.679232
4   a  B  Q -1.579667  0.062459
5   b  C  Q -0.775147 -0.685189
6   c  A  P -0.137143 -0.057994
7   d  B  P -0.001645  0.922897
8   a  C  P -0.098964 -0.820331
9   b  A  Q  1.066841 -1.458649
10  c  B  Q -0.624609  3.246688
11  d  C  Q  0.700635  1.533667

In [68]:
pd.pivot_table(df,values='D',index=['A','B'],columns=['C'])

C           P         Q
A B
a A  0.531530       NaN
  B       NaN -1.579667
  C -0.098964       NaN
b A       NaN  1.066841
  B -0.209900       NaN
  C       NaN -0.775147
c A -0.137143       NaN
  B       NaN -0.624609
  C -2.580040       NaN
d A       NaN -1.260372
  B -0.001645       NaN
  C       NaN  0.700635

In [69]:
dates=pd.date_range('30/09/2021 00:00',periods=5,freq='S')
dates

DatetimeIndex(['2021-09-30 00:00:00', '2021-09-30 00:00:01',
               '2021-09-30 00:00:02', '2021-09-30 00:00:03',
               '2021-09-30 00:00:04'],
              dtype='datetime64[ns]', freq='S')

In [70]:
ts=pd.Series(np.random.randint(len(dates)),dates)
ts

2021-09-30 00:00:00    0
2021-09-30 00:00:01    0
2021-09-30 00:00:02    0
2021-09-30 00:00:03    0
2021-09-30 00:00:04    0
Freq: S, dtype: int64

In [71]:
ts_utc=ts.tz_localize('UTC')
ts_utc

2021-09-30 00:00:00+00:00    0
2021-09-30 00:00:01+00:00    0
2021-09-30 00:00:02+00:00    0
2021-09-30 00:00:03+00:00    0
2021-09-30 00:00:04+00:00    0
Freq: S, dtype: int64

In [72]:
ts_utc.tz_convert('US/Eastern')

2021-09-29 20:00:00-04:00    0
2021-09-29 20:00:01-04:00    0
2021-09-29 20:00:02-04:00    0
2021-09-29 20:00:03-04:00    0
2021-09-29 20:00:04-04:00    0
Freq: S, dtype: int64

In [74]:
dates=pd.date_range('30/09/2021',periods=5,freq='M')

In [75]:
ts=pd.Series(np.random.randint(len(dates)),dates)
ts

2021-09-30    1
2021-10-31    1
2021-11-30    1
2021-12-31    1
2022-01-31    1
Freq: M, dtype: int64

In [76]:
ps=ts.to_period()
ps

2021-09    1
2021-10    1
2021-11    1
2021-12    1
2022-01    1
Freq: M, dtype: int64

In [77]:
ps.to_timestamp()

2021-09-01    1
2021-10-01    1
2021-11-01    1
2021-12-01    1
2022-01-01    1
Freq: MS, dtype: int64

In [78]:
df=pd.DataFrame({'id':[1,2,3,4,5,6],
                 "grade":['a','b','c','b','a','e']})
df

   id grade
0   1     a
1   2     b
2   3     c
3   4     b
4   5     a
5   6     e

In [81]:
df['Grade']=df['grade'].astype("category")
df['grade']

0    a
1    b
2    c
3    b
4    a
5    e
Name: grade, dtype: object

In [82]:
df['Grade'].cat.categories=['good','very bad','very good','excellent']

In [83]:
df['Grade']=df["Grade"].cat.set_categories(["very good","bad","very bad","good","medium"])
df["Grade"]

0         good
1     very bad
2    very good
3     very bad
4         good
5          NaN
Name: Grade, dtype: category
Categories (5, object): ['very good', 'bad', 'very bad', 'good', 'medium']