<a href="https://colab.research.google.com/github/farhanasajeer/github/blob/main/pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# DATAFRAME

In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn

df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A -0.133439  0.473295 -0.043520 -0.158083
B -0.919307  0.324204 -0.978343 -0.370713
C  0.804602 -0.635030  1.712417  0.136387
D  0.997323  2.279584 -1.028167  0.202456
E -1.192521 -0.050461 -0.475377  0.008254

In [3]:
df['W']

A   -0.133439
B   -0.919307
C    0.804602
D    0.997323
E   -1.192521
Name: W, dtype: float64

In [4]:
# pass a list of column names
df[['W','Z']]

          W         Z
A -0.133439 -0.158083
B -0.919307 -0.370713
C  0.804602  0.136387
D  0.997323  0.202456
E -1.192521  0.008254

In [5]:
type(df['W'])

pandas.core.series.Series

In [6]:
# CReating a new column

df['new']=df['W']+df['Y']
df

          W         X         Y         Z       new
A -0.133439  0.473295 -0.043520 -0.158083 -0.176959
B -0.919307  0.324204 -0.978343 -0.370713 -1.897650
C  0.804602 -0.635030  1.712417  0.136387  2.517019
D  0.997323  2.279584 -1.028167  0.202456 -0.030844
E -1.192521 -0.050461 -0.475377  0.008254 -1.667898

In [7]:
# removing columns
df.drop('new',axis=1)

          W         X         Y         Z
A -0.133439  0.473295 -0.043520 -0.158083
B -0.919307  0.324204 -0.978343 -0.370713
C  0.804602 -0.635030  1.712417  0.136387
D  0.997323  2.279584 -1.028167  0.202456
E -1.192521 -0.050461 -0.475377  0.008254

In [8]:
df.drop('E',axis=0)

          W         X         Y         Z       new
A -0.133439  0.473295 -0.043520 -0.158083 -0.176959
B -0.919307  0.324204 -0.978343 -0.370713 -1.897650
C  0.804602 -0.635030  1.712417  0.136387  2.517019
D  0.997323  2.279584 -1.028167  0.202456 -0.030844

In [9]:
# select rows

df.loc['A']

W     -0.133439
X      0.473295
Y     -0.043520
Z     -0.158083
new   -0.176959
Name: A, dtype: float64

In [10]:
# or select based off of position instead of label

df.iloc[2]

W      0.804602
X     -0.635030
Y      1.712417
Z      0.136387
new    2.517019
Name: C, dtype: float64

In [11]:
# selecting rows and columns
df.loc['B','Y']

-0.9783425154791523

In [12]:
df.loc[['A','B'],['W','Y']]

          W         Y
A -0.133439 -0.043520
B -0.919307 -0.978343

In [13]:
# conditional selection
# an import feature of pandas is conditional selection using bracket notation
df

          W         X         Y         Z       new
A -0.133439  0.473295 -0.043520 -0.158083 -0.176959
B -0.919307  0.324204 -0.978343 -0.370713 -1.897650
C  0.804602 -0.635030  1.712417  0.136387  2.517019
D  0.997323  2.279584 -1.028167  0.202456 -0.030844
E -1.192521 -0.050461 -0.475377  0.008254 -1.667898

In [14]:
df>0

       W      X      Y      Z    new
A  False   True  False  False  False
B  False   True  False  False  False
C   True  False   True   True   True
D   True   True  False   True  False
E  False  False  False   True  False

In [15]:
df[df>0]

          W         X         Y         Z       new
A       NaN  0.473295       NaN       NaN       NaN
B       NaN  0.324204       NaN       NaN       NaN
C  0.804602       NaN  1.712417  0.136387  2.517019
D  0.997323  2.279584       NaN  0.202456       NaN
E       NaN       NaN       NaN  0.008254       NaN

In [16]:
df[df['W']>0]

          W         X         Y         Z       new
C  0.804602 -0.635030  1.712417  0.136387  2.517019
D  0.997323  2.279584 -1.028167  0.202456 -0.030844

In [17]:
df[df['W']>0]['Y']

C    1.712417
D   -1.028167
Name: Y, dtype: float64

In [18]:
df[df['W']>0][['Y','X']]

          Y         X
C  1.712417 -0.635030
D -1.028167  2.279584

In [20]:
# for 2 conditions you can use | and & with parenthesis

df[(df['W']>0) & (df['Y'] > 1 )]

          W        X         Y         Z       new
C  0.804602 -0.63503  1.712417  0.136387  2.517019

In [21]:
df

          W         X         Y         Z       new
A -0.133439  0.473295 -0.043520 -0.158083 -0.176959
B -0.919307  0.324204 -0.978343 -0.370713 -1.897650
C  0.804602 -0.635030  1.712417  0.136387  2.517019
D  0.997323  2.279584 -1.028167  0.202456 -0.030844
E -1.192521 -0.050461 -0.475377  0.008254 -1.667898

In [22]:
# reset to default 0,1....n index

df.reset_index()

  index         W         X         Y         Z       new
0     A -0.133439  0.473295 -0.043520 -0.158083 -0.176959
1     B -0.919307  0.324204 -0.978343 -0.370713 -1.897650
2     C  0.804602 -0.635030  1.712417  0.136387  2.517019
3     D  0.997323  2.279584 -1.028167  0.202456 -0.030844
4     E -1.192521 -0.050461 -0.475377  0.008254 -1.667898

In [23]:
newind = 'CA NY WY OR CO'.split()
df['States']=newind
df

          W         X         Y         Z       new States
A -0.133439  0.473295 -0.043520 -0.158083 -0.176959     CA
B -0.919307  0.324204 -0.978343 -0.370713 -1.897650     NY
C  0.804602 -0.635030  1.712417  0.136387  2.517019     WY
D  0.997323  2.279584 -1.028167  0.202456 -0.030844     OR
E -1.192521 -0.050461 -0.475377  0.008254 -1.667898     CO

In [24]:
df.set_index('States',inplace=True)
df

               W         X         Y         Z       new
States
CA     -0.133439  0.473295 -0.043520 -0.158083 -0.176959
NY     -0.919307  0.324204 -0.978343 -0.370713 -1.897650
WY      0.804602 -0.635030  1.712417  0.136387  2.517019
OR      0.997323  2.279584 -1.028167  0.202456 -0.030844
CO     -1.192521 -0.050461 -0.475377  0.008254 -1.667898

In [25]:
# multi level index and index hierarchy

# index levels
outside=['G1','G1','G1','G2','G2','G2',]
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [26]:
df=pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.285658 -0.355624
   2  0.832960  0.298423
   3  1.112557  1.405612
G2 1 -0.168414  0.940382
   2  0.346939  0.734922
   3  0.484727 -0.255798

In [27]:
df.loc['G1']

          A         B
1  0.285658 -0.355624
2  0.832960  0.298423
3  1.112557  1.405612

In [28]:
df.loc['G1'].loc[1]

A    0.285658
B   -0.355624
Name: 1, dtype: float64

In [29]:
df.index.names

FrozenList([None, None])

In [30]:
df.index.names=['Group','Num']
df

                  A         B
Group Num
G1    1    0.285658 -0.355624
      2    0.832960  0.298423
      3    1.112557  1.405612
G2    1   -0.168414  0.940382
      2    0.346939  0.734922
      3    0.484727 -0.255798

In [31]:
# xs functn return the spcl portion from the dataframe
# here the function returns the value from index G1
df.xs('G1')

            A         B
Num
1    0.285658 -0.355624
2    0.832960  0.298423
3    1.112557  1.405612

In [32]:
df.xs(['G1',1])

A    0.285658
B   -0.355624
Name: (G1, 1), dtype: float64

In [33]:
df.xs(1,level='Num')

              A         B
Group
G1     0.285658 -0.355624
G2    -0.168414  0.940382

In [ ]:
# SERIES

In [35]:
# creating series
# ypu can convert a list numpy array, or dictionary to a series:

labels=['a','b','c']
my_list=[10,20,30]
arr=np.array([10,20,30])
d={'a':10,'b':20,'c':30}

# using list

pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [36]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [37]:
pd.Series(my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [38]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [39]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [40]:
# dictionary
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [41]:
# data in series
# a pandas series can hold a variety of object types
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [42]:
# using index
ser1=pd.Series([1,2,3,4],index=['USA','GERMANY','USSR','JAPAN'])
ser1

USA        1
GERMANY    2
USSR       3
JAPAN      4
dtype: int64

In [43]:
ser2=pd.Series([1,2,3,4],index=['USA','GERMANY','ITALY','JAPAN'])
ser2

USA        1
GERMANY    2
ITALY      3
JAPAN      4
dtype: int64

In [44]:
# OPerations are then also done based off of index
ser1+ser2

GERMANY    4.0
ITALY      NaN
JAPAN      8.0
USA        2.0
USSR       NaN
dtype: float64

In [45]:
# MISSING DATA
df=pd.DataFrame({'A':[1,2,np.nan],
                 'B':[5,np.nan,np.nan],
                 'C':[1,2,3]})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [46]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [47]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [48]:
# thresh takes integer value which tells minimm amount of na values to drop
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [49]:
df.fillna(value='FILL VALUE')

            A           B  C
0           1           5  1
1           2  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [50]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [51]:
# group by
# create dataframe

data={'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
      'Person':['Sam','charlie','amy','vaneessa','carl','sarah'],
      'Sales':[200,120,340,124,243,350]}
df=pd.DataFrame(data)
df

  Company    Person  Sales
0    GOOG       Sam    200
1    GOOG   charlie    120
2    MSFT       amy    340
3    MSFT  vaneessa    124
4      FB      carl    243
5      FB     sarah    350

In [52]:
df.groupby('Company')

In [54]:
# u can save this object as a new variable:
by_comp=df.groupby("Company")
by_comp

In [55]:
by_comp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [56]:
df.groupby('Company').mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [57]:
# more eg of aggregate method
by_comp.std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [58]:
by_comp.min()

        Person  Sales
Company
FB        carl    243
GOOG       Sam    120
MSFT       amy    124

In [59]:
by_comp.max()

           Person  Sales
Company
FB          sarah    350
GOOG      charlie    200
MSFT     vaneessa    340

In [60]:
by_comp.count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

In [61]:
by_comp.describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [62]:
by_comp.describe().transpose()

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000

In [63]:
by_comp.describe().transpose()['GOOG']

Sales  count      2.000000
       mean     160.000000
       std       56.568542
       min      120.000000
       25%      140.000000
       50%      160.000000
       75%      180.000000
       max      200.000000
Name: GOOG, dtype: float64

In [65]:
# OPERATIONS
df=pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [66]:
df['col2'].unique()

array([444, 555, 666])

In [67]:
# pandas nunique() is usd to get a count of unq value
df['col2'].nunique()

3

In [68]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [69]:
# select frm dataframe using criteria from multple columns
newdf=df[(df['col1']>2) & (df['col2']==444)]
newdf

   col1  col2 col3
3     4   444  xyz

In [70]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [71]:
df['col1'].sum()

10

In [73]:
# permanantly removng a column

del df['col1']
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [74]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [75]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [76]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [78]:
df.sort_values(by='col2') 
# inplace=False by default

   col2 col3
0   444  abc
3   444  xyz
1   555  def
2   666  ghi

In [79]:
# find null values or check for null values

df.isnull()

    col2   col3
0  False  False
1  False  False
2  False  False
3  False  False

In [80]:
# drop rows with nan values
df.dropna()

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [81]:
df=pd.DataFrame({'col1':[1,2,3,np.nan],
                 'col2':[np.nan,555,666,444],
                 'col3':['abc','def','ghi','xyz']})
df.head()

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

In [82]:
df.fillna('FILL')

   col1  col2 col3
0     1  FILL  abc
1     2   555  def
2     3   666  ghi
3  FILL   444  xyz

In [84]:
data={'A':['foo','foo','foo','bar','bar','bar'],
      'B':['one','one','two','two','one','one'],
      'C':['x','y','x','y','x','y'],
      'D':[1,3,2,5,4,1]}
df=pd.DataFrame(data)
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1