In [5]:
t = ()
print(t)
type(t)

()

tuple

In [8]:
t=(1,2,3)
print(t)

(1, 2, 3)

In [10]:
t=3,
t

(3,)

In [11]:
t=(100,)
t

(100,)

In [12]:
t=(3)
t

3

In [13]:
t=(56.8,9.07)
t

(56.8, 9.07)

In [14]:
t=("hi","hello")
t

('hi', 'hello')

In [15]:
# long tuple
roots=(1,2,3,4,5,6,7,8,9,10,11,27,92,34,55,66,77)
roots

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 27, 92, 34, 55, 66, 77)

In [16]:
# nested tuple
t=(10,20,30,(40,50),100)
len(t)

5

In [18]:
t[1]

20

In [19]:
t[3][0]

40

In [20]:
# tuple(sequence)
t=tuple('python')
t

('p', 'y', 't', 'h', 'o', 'n')

In [21]:
items=[10,20,30,40]
t1=tuple(items)
t1

(10, 20, 30, 40)

In [24]:
t2=tuple(input('enter elements'))
t2

enter elementsf a r h a n a

('f', ' ', 'a', ' ', 'r', ' ', 'h', ' ', 'a', ' ', 'n', ' ', 'a')

In [27]:
mytuple=eval(input("enter tuple elements:"))
mytuple

enter tuple elements:56,78,'far'

(56, 78, 'far')

In [29]:
# add
t4=(10,34,30)
t4+(50,)

(10, 34, 30, 50)

In [30]:
# replicatng
t1=("do","it")
t1*3

('do', 'it', 'do', 'it', 'do', 'it')

In [31]:
# join
t2=(10,20,30)
t3=('a','b','c')
t4=t2+t3
t4

(10, 20, 30, 'a', 'b', 'c')

In [32]:
t2+6

TypeError: can only concatenate tuple (not "int") to tuple

In [33]:
t2+(5)

TypeError: can only concatenate tuple (not "int") to tuple

In [35]:
data=(10,20,30,1,7,9,100,51,75,80)
data2=data[4:-4]
print(data2)
print(data[1:6])
print(data[4:-2])
print(data[::-1])
print(data[::-2])
print(data[2:10:2])

(7, 9)
(20, 30, 1, 7, 9)
(7, 9, 100, 51)
(80, 75, 51, 100, 9, 7, 1, 30, 20, 10)
(80, 51, 9, 1, 20)
(30, 7, 100, 75)

In [36]:
tp1=(11,12,15,20,8,9,10)
seq1=tp1[::2]
seq1=tp1[5::2]
tp1[2:5]*3

(15, 20, 8, 15, 20, 8, 15, 20, 8)

In [37]:
tp1[2:5]+(500,1000)

(15, 20, 8, 500, 1000)

In [1]:
# comparing tuple
a=(10,20)
b=(10,20)
c=(20,10)
a==b

True

In [2]:
a==c

False

In [3]:
d=(20.0,10.0)
c==d

True

In [4]:
a<c

True

In [5]:
# deleting tuple
del t[2]

NameError: name 't' is not defined

In [6]:
t=(10,20,30)
print(t)

(10, 20, 30)

In [7]:
del t
t

NameError: name 't' is not defined

In [8]:
# tuple functions
# 1) len()

book=('b001','let us python','dp',500)
len(book)

4

In [9]:
# 2) max()

salary=(1000,1500,800,700,1200)
max(salary)

1500

In [10]:
fruits=("mango","pine apple","apple","carrot")
max(fruits)

'pine apple'

In [11]:
t1=(10,20,30,(50,40),80)
max(t1)

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [12]:
# min()
salary=(1000,1500,800,700,1200)
min(salary)

700

In [13]:
fruits=("mango","pine apple","apple","carrot")
min(fruits)

'apple'

In [14]:
t1=(10,20,30,(50,40),80)
min(t1)

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [17]:
# index()

salary=(1000,1500,800,700,1200)
salary.index(800)

2

In [18]:
# count()

val=(10,20,30,20,10,60,80,20)
val.count(20)

3

In [19]:
val.count(80)

1

In [20]:
val.count(100)

0

In [22]:
# tuple()

tup=tuple()
tup

()

In [1]:
# create tuple from string,list,dict

tup=tuple({1:"one",2:"two"})
tup

(1, 2)

In [3]:
tup=tuple([1,20,40])
tup

(1, 20, 40)

In [2]:
tup=tuple("quick browm fox")
tup

('q', 'u', 'i', 'c', 'k', ' ', 'b', 'r', 'o', 'w', 'm', ' ', 'f', 'o', 'x')

In [24]:
t=tuple(90)

TypeError: 'int' object is not iterable

In [25]:
# indirectly modify tuple
# 1) tuple unpacking

val=(10,20,30)
a,b,c=val
b=30
val=(a,b,c)
val

(10, 30, 30)

In [27]:
# use constructor functn of list and tuple

foods=("rice","dosa","idli","mushroom","paneer")
myfood=list(foods)
myfood[2]="biriyani"
foods=tuple(myfood)
foods

('rice', 'dosa', 'biriyani', 'mushroom', 'paneer')

In [28]:
# tasks

# create tuple

t=('hi',78,90,'hello')
t

('hi', 78, 90, 'hello')

In [31]:
# tuple with numbers

t1=(10,20,34)
t1

(10, 20, 34)

In [32]:
t2=89
t2

89

In [38]:
#  tuple with diiff datatyp
tuple = ("farhana",'s',1,2.9)
print(tuple)

('farhana', 's', 1, 2.9)

In [39]:
# unpack

var=(12,34,56,90)
a,b,c,d=var
c=78
var=(a,b,c,d)
print(var)

(12, 34, 78, 90)

In [2]:
# convert a tuple to a string

tup=('f','a','r','h','a')
tup="".join(tup)
print(tup)

farha

In [15]:
# repeated item of tuple

t=(10,20,30,10,39,2)
t.count(10)

2

In [16]:
# list to tuple

list=[1,5,78]
tup=tuple(list)
tup

(1, 5, 78)

In [18]:
# slice a tuple

a=(2,67,56,45)
print(a[-1])
print(a[0])
print(a[::-2])

45
2
(45, 67)

In [21]:
# length of tuple

a=('hi','help',12,45,67,2.00,(7,9))
len(a)

7

In [24]:
# tuple to dict

tup=((1,'far'),(3,'shiri'))
dict(tup)

{1: 'far', 3: 'shiri'}

In [25]:
# reverse
t=(1,2,4,3,7,89,0.9)
print(t[::-1])

(0.9, 89, 7, 3, 4, 2, 1)